.carousel-item {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
#subscribe {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
#subscribe h1 {
    text-transform: uppercase;
}
.btn {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
